
P3/YEngiAnabela.cpp
P3/YPap-Paula.cpp
P3/ZVastag-Evelin.cpp
P3/ZVastag-Evelin copy.cpp
P8/a.out
Fuggv_gyakrolas/a.out
P3/a.out
P4/a.out
P5/a.out
P7/a.out
*.out
TE/magyarazos.cpp
TE/magyarazos.txt
*.Identifier
*.exe
*.exe
